<h1>We are on the Portfolio Dashboard Page</h1>

<%= button_to "Create Portfolio", new_portfolio_path, method: :get, class: "btn btn-primary" %>
Grand Total: <%= @grand_total %> <br>
<hr>
<% @portfolios.each do |portfolio| %>
  <%= link_to portfolio.name, portfolio_path(portfolio) %>
  <p>Total: <%= portfolio.total %></p>
  <hr>
<% end %>
